.social{
  height: calc(100vh  - 74px);
  top: 74px;
  position: relative;
  
}



  .column {
    float: left;
    width: auto;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .social-section {
    min-height: 100vh;
 
 }
  @media only screen and (min-width:1024px){

     .social-section {
       padding:0rem 5rem;
       
    }
}

